<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>todo list app</title>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.20/angular.min.js"></script>
    <script src="app/app.js"></script>
    <script src="app/controller/todoListController.js"></script>
</head>
<body ng-app="app">
  <div data-ng-controller="todoListController as vm">
      <h2>todo list</h2>
      <div ng-repeat="todo in vm.todoList">
          <a href="" data-ng-click="vm.current = $index; vm.showTodo(todo.id); " ng-class="{current: vm.current ==  $index}" ng-bind="todo.title" ></a> &nbsp;
          <a class="delete" href="" data-ng-click="vm.delete(todo.id)"><i>delete</i></a>
      </div>
  </div>
</body>
</html>
