<style type="text/css">
    .css-form input.ng-invalid.ng-touched {
        background-color: #FA787E;
    }

    .error, .delete {
        color: #FA787E;
    }

    .css-form input.ng-valid.ng-touched,
    .css-form textarea.ng-valid.ng-touched {
        background-color: #78FA89;
    }

    .todo-list {
        float:left;
    }

    .todo-edit {
        float:left; margin-left: 40px;
    }

    .todo-edit-container {
        width: 300px;
    }
    
    .todo-edit-field {
        width: 100%;
        margin: 0 0 8px;
    }

    .current {
        background-color: #ccc;
    }
</style>

<div class="todo-list" data-todo-list="">
</div>
<div class="todo-edit" data-todo-edit="">
</div>
